#include <iostream>
using namespace std;
int fibonacci(int n);
int main()
{
    int num=0, resultado=0;
    cout<<"CALCULA EL NUMERO FIBONACCI XD "<<endl;
    cout<<"Introduce el limite: ";
    cin>>num;
    resultado=fibonacci(num);
    cout<<"El numero de la secuencia es: "<<res<<endl;
    return 0;
}
int fibonacci(int n)
{
    if (n==0||n==1)
        return 1;
    else
        return fibonacci(n-1)+fibonacci(n-2);
}
